Inventario/Web References/SiriusService/SiriusService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarFiliais">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFiliaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarFiliaisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInventariosPendentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInventariosPendentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarInventariosPendentesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepositosPorFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoFilial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepositosPorFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarDepositosPorFilialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLocalizacaoPorDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDeposito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLocalizacaoPorDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarLocalizacaoPorDepositoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTodosProdutosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOperadoresColetor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagColletor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOperadoresColetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarOperadoresColetorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInventarioPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoInventario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInventarioPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarInventarioPorCodigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>